body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    margin: 0;
}

button{
    background-color:black;
    color: antiquewhite;
    width: 100px;
}